<div class="jumbotron">
    <h1 class="display-4">Hello, this is my sample app!</h1>
    <p class="lead">This is a simple app you can log in to give it a try!!</p>
    <%= link_to "Sign up", sign_up_path, class: "btn btn-primary btn-lg"  %>
</div>
